This notebook is about
- Delete the last 3 rows.
- Deviding the data into descriptors and properties files.

<a id="import-libraries"></a>
# 1. Import Libraries & Data

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
data = pd.read_excel("./data/raw/Skin Permeation.xlsx")

In [29]:
data.head()

,No,Compound,SMILES,CAS No,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,54.0,p-Nitrophenol; 4-nitrophenol,C1=CC(=CC=C1[N+](=O)[O-])O,100-02-7,t,139.10,1.91,387.0,-4,-2.090000,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,421.0,Benzyl bromide,C1=CC=C(C=C1)CBr,100-39-0,t,171.03,2.92,270.0,-5.586217,-2.666217,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537
2,422.0,Benzyl bromide,C1=CC=C(C=C1)CBr,100-39-0,t,171.03,2.92,270.0,-5.586217,-2.666217,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537
3,4.0,Benzyl alcohol,C1=CC=C(C=C1)CO,100-51-6,t,108.10,1.04,258.0,-3.39794,-2.357940,...,3.111111,1.800000,6.0,343.647962,360.656857,405.171149,284.539313,96.667566,8.0,8.556987
4,405.0,2-Ethylhexyl acrylate,CCCCC(CC)COC(=O)C=C,103-11-7,t,184.27,3.67,183.0,-6.185314,-2.515314,...,8.591716,7.100592,0.0,588.801978,590.026029,630.062246,602.270174,511.259323,12.0,8.506996

In [30]:
data.shape

(449, 241)

In [31]:
# removing last 3 rows
data = data.iloc[:-3, :]

In [32]:
data.shape

(446, 241)

In [102]:
properties_df = data.iloc[:, 0:19]
properties_df.head(2)

,No,Compound,SMILES,CAS No,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,MVh,Texpi,Skin thicknessj,Skin Integrity testk,Skin Selection criteria,logkpl,logJmaxm
0,54.0,p-Nitrophenol; 4-nitrophenol,C1=CC(=CC=C1[N+](=O)[O-])O,100-02-7,t,139.10,1.91,387.0,-4,-2.090000,1.0,4.0,94.4,298.0,0.100,Repeating the permeation experiment,Flux comparison,-2.250000,-6.250000
1,421.0,Benzyl bromide,C1=CC=C(C=C1)CBr,100-39-0,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,118.9,305.0,0.128,transepidermal electrical resistance,>4.26 kÎ©,-1.892027,-7.478245

In [103]:
cols_to_drop = ['No', 'Compound', 'SMILES', 'CAS No',
 'MVh', 'Skin Integrity testk', 'Skin Selection criteria', 'logkpl']

properties_df.drop(cols_to_drop, axis=1, inplace=True)

In [88]:
properties_df.head()

,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,Texpi,Skin thicknessj,logJmaxm
0,t,139.10,1.91,387.0,-4,-2.090000,1.0,4.0,298.0,0.100,-6.250000
1,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.128,-7.478245
2,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.075,-7.131337
3,t,108.10,1.04,258.0,-3.39794,-2.357940,1.0,1.0,298.0,0.100,-5.620000
4,t,184.27,3.67,183.0,-6.185314,-2.515314,0.0,2.0,305.0,0.128,-8.009659

In [89]:
properties_df.shape

(446, 11)

In [90]:
# seeing which columns has null values
for col in properties_df.columns:
    if (properties_df[col].isna().sum() > 0):
        print(col)

In [91]:
# saving the data
properties_df.to_csv('./data/processed/properties.csv', index=False)

In [92]:
descriptors_df = data.iloc[:, 18:]
descriptors_df.head(2)

,logJmaxm,Reference,SMILES.1,MLogP,nSmallRings,nAromRings,nRingBlocks,nAromBlocks,nRings3,nRings4,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,-6.250000,(Roberts et al. 1977),C1=CC(=CC=C1[N+](=O)[O-])O,1.68,1.0,1.0,1.0,1.0,0.0,0.0,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,-7.478245,(Ellison et al. 2020),C1=CC=C(C=C1)CBr,2.12,1.0,1.0,1.0,1.0,0.0,0.0,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537

In [93]:
descriptors_df.drop(['SMILES.1', 'Reference'], axis=1, inplace=True)

In [94]:
descriptors_df.shape

(446, 221)

In [95]:
descriptors_df.head(2)

,logJmaxm,MLogP,nSmallRings,nAromRings,nRingBlocks,nAromBlocks,nRings3,nRings4,nRings5,nRings6,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,-6.250000,1.68,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,-7.478245,2.12,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537

In [98]:
# seeing which columns has null values
for col in descriptors_df.columns:
    if (descriptors_df[col].isna().sum() > 0):
        print(col)

In [97]:
descriptors_df['Kier3'].fillna(0, inplace=True)

In [100]:
descriptors_df.to_csv('./data/processed/descriptors.csv', index=False)

In [130]:
properties_and_descriptors_df = pd.concat([properties_df.iloc[:, :-1], descriptors_df], axis=1)
properties_and_descriptors_df.head(2)

,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,Texpi,Skin thicknessj,...,Kier2,Kier3,naAromAtom,ATSp1,ATSp2,ATSp3,ATSp4,ATSp5,nB,MolIP
0,t,139.10,1.91,387.0,-4,-2.090000,1.0,4.0,298.0,0.100,...,3.408284,2.285714,6.0,373.777514,409.011832,503.255946,390.565769,173.603316,10.0,8.519901
1,t,171.03,2.92,270.0,-5.586217,-2.666217,0.0,0.0,305.0,0.128,...,3.111111,1.800000,6.0,463.175094,476.652907,530.316455,392.280643,151.974579,8.0,8.338537

In [131]:
properties_and_descriptors_df.shape

(446, 231)

In [132]:
properties_and_descriptors_df.isna().sum().sum()

0

In [137]:
properties_and_descriptors_df.to_csv('./data/processed/properties_descriptors.csv', index=False)