This notebook is about preperaring data for trial 1 & 2, and saving the data to use it for later under 
`trial1.csv` & `trial2.csv`.

<a id="import-libraries"></a>
# 1. Import Libraries & Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [160]:
original_df = pd.read_csv("../../descriptors-trials/trial 1/data-original.csv", encoding= 'unicode_escape')
output_df = pd.read_csv("../../descriptors-trials/trial 1/output.csv", encoding= 'unicode_escape')

In [161]:
original_df.shape, output_df.shape

((481, 20), (481, 17537))

In [162]:
original_df.head(2)

,No,Compound,SMILES,CAS No,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,MVh,Texpi,Skin thicknessj,Skin Integrity testk,Skin Selection criteria,logkpl,logJmaxm,Reference
0,54,p-Nitrophenol; 4-nitrophenol,C1=CC(=CC=C1[N+](=O)[O-])O,100-02-7,t,139.10,1.91,387.0,-4.00,-2.09,1,4,94.400,298,0.1,Repeating the permeation experiment,Flux comparison,-2.25,-6.25,(Roberts et al. 1977)
1,200,Sodium caprate; Decanoic acid soap (C10:0),CCCCCCCCCC(=O)[O-].[Na+],1002-62-6,t,194.25,3.75,513.0,-2.87,0.88,1,2,198.375,310,0.1,transepidermal electrical resistance,>50000 ?,-2.95,-5.83,(Howes et al. 1975)

In [163]:
output_df.head(2)

,Name,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,...,APC2D10_I_I,APC2D10_I_B,APC2D10_I_Si,APC2D10_I_X,APC2D10_B_B,APC2D10_B_Si,APC2D10_B_X,APC2D10_Si_Si,APC2D10_Si_X,APC2D10_X_X
0,AUTOGEN_data_1,0,0.1998,0.039920,6.4546,17.399965,6,6,15,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AUTOGEN_data_2,0,-2.8475,8.108256,35.7706,31.873067,0,0,31,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [192]:
clean_output_df = output_df.copy()

In [193]:
# dropping Name column
clean_output_df.drop('Name', axis=1, inplace=True)

In [194]:
clean_output_df.head(2)

,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,APC2D10_I_I,APC2D10_I_B,APC2D10_I_Si,APC2D10_I_X,APC2D10_B_B,APC2D10_B_Si,APC2D10_B_X,APC2D10_Si_Si,APC2D10_Si_X,APC2D10_X_X
0,0,0.1998,0.039920,6.4546,17.399965,6,6,15,10,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,-2.8475,8.108256,35.7706,31.873067,0,0,31,12,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [195]:
clean_output_df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [196]:
for col in clean_output_df.columns:
    if clean_output_df[col].isna().sum() > 0:
        print(col, clean_output_df[col].isna().sum())
        clean_output_df[col].fillna(clean_output_df[col].mean(), inplace=True)

ATS0s 31
ATS1s 31
AATS0s 31
AATS1s 31
ATSC0s 31
ATSC1s 31
ATSC2s 31
AATSC0s 31
AATSC1s 31
AATSC2s 31
SpAbs_DzZ 31
SpMax_DzZ 31
SpDiam_DzZ 31
SpAD_DzZ 31
SpMAD_DzZ 31
EE_DzZ 31
SM1_DzZ 31
VE1_DzZ 31
VE2_DzZ 31
VE3_DzZ 31
VR1_DzZ 31
VR2_DzZ 31
VR3_DzZ 31
SpAbs_Dzm 31
SpMax_Dzm 31
SpDiam_Dzm 31
SpAD_Dzm 31
SpMAD_Dzm 31
EE_Dzm 31
SM1_Dzm 31
VE1_Dzm 31
VE2_Dzm 31
VE3_Dzm 31
VR1_Dzm 31
VR2_Dzm 31
VR3_Dzm 31
SpAbs_Dzv 31
SpMax_Dzv 31
SpDiam_Dzv 31
SpAD_Dzv 31
SpMAD_Dzv 31
EE_Dzv 31
SM1_Dzv 31
VE1_Dzv 31
VE2_Dzv 31
VE3_Dzv 31
VR1_Dzv 31
VR2_Dzv 31
VR3_Dzv 31
SpAbs_Dze 31
SpMax_Dze 31
SpDiam_Dze 31
SpAD_Dze 31
SpMAD_Dze 31
EE_Dze 31
SM1_Dze 31
VE1_Dze 31
VE2_Dze 31
VE3_Dze 31
VR1_Dze 31
VR2_Dze 31
VR3_Dze 31
SpAbs_Dzp 31
SpMax_Dzp 31
SpDiam_Dzp 31
SpAD_Dzp 31
SpMAD_Dzp 31
EE_Dzp 31
SM1_Dzp 31
VE1_Dzp 31
VE2_Dzp 31
VE3_Dzp 31
VR1_Dzp 31
VR2_Dzp 31
VR3_Dzp 31
SpAbs_Dzi 31
SpMax_Dzi 31
SpDiam_Dzi 31
SpAD_Dzi 31
SpMAD_Dzi 31
EE_Dzi 31
SM1_Dzi 31
VE1_Dzi 31
VE2_Dzi 31
VE3_Dzi 31
VR1_Dzi 31
VR2_Dzi 31
VR3_Dzi 31
SpAbs_Dzs 31
SpMax_Dzs 31
SpDiam_Dzs 31
SpAD_Dzs 31
SpMAD_Dzs 31
EE_Dzs 31
SM1_Dzs 31
VE1_Dzs 31
VE2_Dzs 31
VE3_Dzs 31
VR1_Dzs 31
VR2_Dzs 31
VR3_Dzs 31
SpMax1_Bhm 31
SpMax2_Bhm 31
SpMax3_Bhm 31
SpMax4_Bhm 31
SpMax5_Bhm 31
SpMax6_Bhm 31
SpMax7_Bhm 34
SpMax8_Bhm 34
SpMin1_Bhm 31
SpMin2_Bhm 31
SpMin3_Bhm 31
SpMin4_Bhm 31
SpMin5_Bhm 31
SpMin6_Bhm 31
SpMin7_Bhm 34
SpMin8_Bhm 34
SpMax1_Bhv 31
SpMax2_Bhv 31
SpMax3_Bhv 31
SpMax4_Bhv 31
SpMax5_Bhv 31
SpMax6_Bhv 31
SpMax7_Bhv 34
SpMax8_Bhv 34
SpMin1_Bhv 31
SpMin2_Bhv 31
SpMin3_Bhv 31
SpMin4_Bhv 31
SpMin5_Bhv 31
SpMin6_Bhv 31
SpMin7_Bhv 34
SpMin8_Bhv 34
SpMax1_Bhe 31
SpMax2_Bhe 31
SpMax3_Bhe 31
SpMax4_Bhe 31
SpMax5_Bhe 31
SpMax6_Bhe 31
SpMax7_Bhe 34
SpMax8_Bhe 34
SpMin1_Bhe 31
SpMin2_Bhe 31
SpMin3_Bhe 31
SpMin4_Bhe 31
SpMin5_Bhe 31
SpMin6_Bhe 31
SpMin7_Bhe 34
SpMin8_Bhe 34
SpMax1_Bhp 31
SpMax2_Bhp 31
SpMax3_Bhp 31
SpMax4_Bhp 31
SpMax5_Bhp 31
SpMax6_Bhp 31
SpMax7_Bhp 34
SpMax8_Bhp 34
SpMin1_Bhp 31
SpMin2_Bhp 31
SpMin3_Bhp 31
SpMin4_Bhp 31
SpMin5_Bhp 31
SpMin6_Bhp 31
SpMin7_Bhp 34
SpMin8_Bhp 34
SpMax1_Bhi 31
SpMax2_Bhi 31
SpMax3_Bhi 31
SpMax4_Bhi 31
SpMax5_Bhi 31
SpMax6_Bhi 31
SpMax7_Bhi 34
SpMax8_Bhi 34
SpMin1_Bhi 31
SpMin2_Bhi 31
SpMin3_Bhi 31
SpMin4_Bhi 31
SpMin5_Bhi 31
SpMin6_Bhi 31
SpMin7_Bhi 34
SpMin8_Bhi 34
SpMax1_Bhs 31
SpMax2_Bhs 31
SpMax3_Bhs 31
SpMax4_Bhs 31
SpMax5_Bhs 31
SpMax6_Bhs 31
SpMax7_Bhs 34
SpMax8_Bhs 34
SpMin1_Bhs 31
SpMin2_Bhs 31
SpMin3_Bhs 31
SpMin4_Bhs 31
SpMin5_Bhs 31
SpMin6_Bhs 31
SpMin7_Bhs 34
SpMin8_Bhs 34
VR3_Dt 31
sumI 31
meanI 31
gmax 31
HybRatio 31
Kier3 12
topoShape 31
VR3_D 31

In [198]:
# getting `logkpl` & `Texpi` from original df
texpi_logkpl = original_df[['logkpl', 'Texpi']]
texpi_logkpl.isna().sum()

logkpl    0
Texpi     0
dtype: int64

In [199]:
# making the trial 1 file 
trial_1_df = pd.concat([texpi_logkpl, clean_output_df], axis=1)
trial_1_df.shape

(481, 17538)

In [200]:
trial_1_df.isna().sum().sum()

0

In [201]:
# saving trial 1 file
trial_1_df.to_csv('../../data/processed/trial1.csv', index=False)

In [78]:
# starting from index 401 - 431 (432 exlcuded) removing water compounds
index_to_drop = [i for i in range(401, 432)]

In [130]:
tries = output_df.drop(index_to_drop, axis=0)
texpi_logkpl_trial_2 = texpi_logkpl.drop(index_to_drop, axis=0)

In [131]:
for col in tries.columns:
    if tries[col].isna().sum() > 0:
        print(col, tries[col].isna().sum())
        tries[col] = tries[col].fillna(tries[col].mean())

SpMax7_Bhm 3
SpMax8_Bhm 3
SpMin7_Bhm 3
SpMin8_Bhm 3
SpMax7_Bhv 3
SpMax8_Bhv 3
SpMin7_Bhv 3
SpMin8_Bhv 3
SpMax7_Bhe 3
SpMax8_Bhe 3
SpMin7_Bhe 3
SpMin8_Bhe 3
SpMax7_Bhp 3
SpMax8_Bhp 3
SpMin7_Bhp 3
SpMin8_Bhp 3
SpMax7_Bhi 3
SpMax8_Bhi 3
SpMin7_Bhi 3
SpMin8_Bhi 3
SpMax7_Bhs 3
SpMax8_Bhs 3
SpMin7_Bhs 3
SpMin8_Bhs 3
Kier3 12

In [132]:
tries.shape

(450, 17537)

In [133]:
# drop name column
tries.drop('Name', axis=1, inplace=True)

In [134]:
# making the trial 2 file 
trial_2_df = pd.concat([texpi_logkpl_trial_2, tries], axis=1)
trial_2_df.reset_index(drop=True, inplace=True)
trial_2_df.shape

(450, 17538)

In [135]:
trial_2_df.isna().sum().sum()

0

In [136]:
# saving trial 2 file
trial_2_df.to_csv('../../data/processed/trial2.csv', index=False)