This notebook is about preperaring data for trial 1 & 2, and saving the data to use it for later under 
`trial1.csv` & `trial2.csv`.

<a id="import-libraries"></a>
# 1. Import Libraries & Data

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
original_df = pd.read_csv("../../descriptors-trials/trial 1/data-original.csv", encoding= 'unicode_escape')
output_df = pd.read_csv("../../descriptors-trials/trial 1/output.csv", encoding= 'unicode_escape')

In [67]:
original_df.shape, output_df.shape

((481, 20), (481, 17537))

In [68]:
original_df.head(2)

,No,Compound,SMILES,CAS No,set,MWa,logKowb,Mptc,LogSaqd,LogSoce,Hdf,Hag,MVh,Texpi,Skin thicknessj,Skin Integrity testk,Skin Selection criteria,logkpl,logJmaxm,Reference
0,54,p-Nitrophenol; 4-nitrophenol,C1=CC(=CC=C1[N+](=O)[O-])O,100-02-7,t,139.10,1.91,387.0,-4.00,-2.09,1,4,94.400,298,0.1,Repeating the permeation experiment,Flux comparison,-2.25,-6.25,(Roberts et al. 1977)
1,200,Sodium caprate; Decanoic acid soap (C10:0),CCCCCCCCCC(=O)[O-].[Na+],1002-62-6,t,194.25,3.75,513.0,-2.87,0.88,1,2,198.375,310,0.1,transepidermal electrical resistance,>50000 ?,-2.95,-5.83,(Howes et al. 1975)

In [69]:
output_df.head(2)

,Name,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,...,APC2D10_I_I,APC2D10_I_B,APC2D10_I_Si,APC2D10_I_X,APC2D10_B_B,APC2D10_B_Si,APC2D10_B_X,APC2D10_Si_Si,APC2D10_Si_X,APC2D10_X_X
0,AUTOGEN_data_1,0,0.1998,0.039920,6.4546,17.399965,6,6,15,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AUTOGEN_data_2,0,-2.8475,8.108256,35.7706,31.873067,0,0,31,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
clean_output_df = output_df.copy()

In [97]:
# dropping Name column
clean_output_df.drop('Name', axis=1, inplace=True)

In [98]:
clean_output_df.head(2)

,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,APC2D10_I_I,APC2D10_I_B,APC2D10_I_Si,APC2D10_I_X,APC2D10_B_B,APC2D10_B_Si,APC2D10_B_X,APC2D10_Si_Si,APC2D10_Si_X,APC2D10_X_X
0,0,0.1998,0.039920,6.4546,17.399965,6,6,15,10,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,-2.8475,8.108256,35.7706,31.873067,0,0,31,12,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
count = np.isinf(clean_output_df).values.sum()
print("It contains " + str(count) + " infinite values")

# counting infinity in a particular column name
# printing column name where infinity is present
print()
print("printing column name where infinity is present")
col_name = clean_output_df.columns.to_series()[np.isinf(clean_output_df).any()]
print(col_name)

# printing row index with infinity
print()
print("printing row index with infinity ")

r = clean_output_df.index[np.isinf(clean_output_df).any(1)]
print(r)

It contains 341 infinite values

printing column name where infinity is present
ATS0s        ATS0s
ATS1s        ATS1s
AATS0s      AATS0s
AATS1s      AATS1s
ATSC2s      ATSC2s
AATSC2s    AATSC2s
VR3_Dt      VR3_Dt
sumI          sumI
meanI        meanI
gmax          gmax
VR3_D        VR3_D
dtype: object

printing row index with infinity
Int64Index([401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413,
            414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426,
            427, 428, 429, 430, 431],
           dtype='int64')

In [100]:
clean_output_df.iloc[r, :][col_name]

,ATS0s,ATS1s,AATS0s,AATS1s,ATSC2s,AATSC2s,VR3_Dt,sumI,meanI,gmax,VR3_D
401,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
402,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
403,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
404,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
405,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
406,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
407,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
408,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
409,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
410,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
411,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
412,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
413,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
414,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
415,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
416,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
417,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
418,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
419,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
420,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
421,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
422,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
423,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
424,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
425,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
426,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
427,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
428,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
429,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
430,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf
431,inf,inf,inf,inf,inf,inf,-inf,inf,inf,inf,-inf

In [103]:
clean_output_df = clean_output_df.replace([np.inf, -np.inf], np.nan)
clean_output_df = clean_output_df.reset_index(drop=True)

In [104]:
count = np.isinf(clean_output_df).values.sum()
print("It contains " + str(count) + " infinite values")

# counting infinity in a particular column name
# printing column name where infinity is present
print()
print("printing column name where infinity is present")
# col_name = clean_output_df.columns.to_series()[np.isinf(clean_output_df).any()]
# print(col_name)

# printing row index with infinity
print()
print("printing row index with infinity ")

# r = clean_output_df.index[np.isinf(clean_output_df).any(1)]

It contains 0 infinite values

printing column name where infinity is present

printing row index with infinity

In [105]:
clean_output_df.iloc[r, :][col_name]

,ATS0s,ATS1s,AATS0s,AATS1s,ATSC2s,AATSC2s,VR3_Dt,sumI,meanI,gmax,VR3_D
401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
for col in col_name:
    clean_output_df[col].fillna(clean_output_df[col].mean(), inplace=True)

In [107]:
clean_output_df.iloc[r, :][col_name]

,ATS0s,ATS1s,AATS0s,AATS1s,ATSC2s,AATSC2s,VR3_Dt,sumI,meanI,gmax,VR3_D
401,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
402,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
403,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
404,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
405,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
406,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
407,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
408,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
409,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
410,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
411,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
412,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
413,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
414,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
415,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
416,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
417,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
418,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
419,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
420,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
421,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
422,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
423,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
424,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
425,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
426,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
427,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
428,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
429,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
430,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357
431,159.651365,98.230614,5.627386,3.262673,1.914957,0.094332,9.021178,38.01382,2.567743,10.280028,9.024357

In [109]:
for col in clean_output_df.columns:
    if clean_output_df[col].isna().sum() > 0:
        print(col, clean_output_df[col].isna().sum())
        clean_output_df[col].fillna(clean_output_df[col].mean(), inplace=True)

ATSC0s 31
ATSC1s 31
AATSC0s 31
AATSC1s 31
SpAbs_DzZ 31
SpMax_DzZ 31
SpDiam_DzZ 31
SpAD_DzZ 31
SpMAD_DzZ 31
EE_DzZ 31
SM1_DzZ 31
VE1_DzZ 31
VE2_DzZ 31
VE3_DzZ 31
VR1_DzZ 31
VR2_DzZ 31
VR3_DzZ 31
SpAbs_Dzm 31
SpMax_Dzm 31
SpDiam_Dzm 31
SpAD_Dzm 31
SpMAD_Dzm 31
EE_Dzm 31
SM1_Dzm 31
VE1_Dzm 31
VE2_Dzm 31
VE3_Dzm 31
VR1_Dzm 31
VR2_Dzm 31
VR3_Dzm 31
SpAbs_Dzv 31
SpMax_Dzv 31
SpDiam_Dzv 31
SpAD_Dzv 31
SpMAD_Dzv 31
EE_Dzv 31
SM1_Dzv 31
VE1_Dzv 31
VE2_Dzv 31
VE3_Dzv 31
VR1_Dzv 31
VR2_Dzv 31
VR3_Dzv 31
SpAbs_Dze 31
SpMax_Dze 31
SpDiam_Dze 31
SpAD_Dze 31
SpMAD_Dze 31
EE_Dze 31
SM1_Dze 31
VE1_Dze 31
VE2_Dze 31
VE3_Dze 31
VR1_Dze 31
VR2_Dze 31
VR3_Dze 31
SpAbs_Dzp 31
SpMax_Dzp 31
SpDiam_Dzp 31
SpAD_Dzp 31
SpMAD_Dzp 31
EE_Dzp 31
SM1_Dzp 31
VE1_Dzp 31
VE2_Dzp 31
VE3_Dzp 31
VR1_Dzp 31
VR2_Dzp 31
VR3_Dzp 31
SpAbs_Dzi 31
SpMax_Dzi 31
SpDiam_Dzi 31
SpAD_Dzi 31
SpMAD_Dzi 31
EE_Dzi 31
SM1_Dzi 31
VE1_Dzi 31
VE2_Dzi 31
VE3_Dzi 31
VR1_Dzi 31
VR2_Dzi 31
VR3_Dzi 31
SpAbs_Dzs 31
SpMax_Dzs 31
SpDiam_Dzs 31
SpAD_Dzs 31
SpMAD_Dzs 31
EE_Dzs 31
SM1_Dzs 31
VE1_Dzs 31
VE2_Dzs 31
VE3_Dzs 31
VR1_Dzs 31
VR2_Dzs 31
VR3_Dzs 31
SpMax1_Bhm 31
SpMax2_Bhm 31
SpMax3_Bhm 31
SpMax4_Bhm 31
SpMax5_Bhm 31
SpMax6_Bhm 31
SpMax7_Bhm 34
SpMax8_Bhm 34
SpMin1_Bhm 31
SpMin2_Bhm 31
SpMin3_Bhm 31
SpMin4_Bhm 31
SpMin5_Bhm 31
SpMin6_Bhm 31
SpMin7_Bhm 34
SpMin8_Bhm 34
SpMax1_Bhv 31
SpMax2_Bhv 31
SpMax3_Bhv 31
SpMax4_Bhv 31
SpMax5_Bhv 31
SpMax6_Bhv 31
SpMax7_Bhv 34
SpMax8_Bhv 34
SpMin1_Bhv 31
SpMin2_Bhv 31
SpMin3_Bhv 31
SpMin4_Bhv 31
SpMin5_Bhv 31
SpMin6_Bhv 31
SpMin7_Bhv 34
SpMin8_Bhv 34
SpMax1_Bhe 31
SpMax2_Bhe 31
SpMax3_Bhe 31
SpMax4_Bhe 31
SpMax5_Bhe 31
SpMax6_Bhe 31
SpMax7_Bhe 34
SpMax8_Bhe 34
SpMin1_Bhe 31
SpMin2_Bhe 31
SpMin3_Bhe 31
SpMin4_Bhe 31
SpMin5_Bhe 31
SpMin6_Bhe 31
SpMin7_Bhe 34
SpMin8_Bhe 34
SpMax1_Bhp 31
SpMax2_Bhp 31
SpMax3_Bhp 31
SpMax4_Bhp 31
SpMax5_Bhp 31
SpMax6_Bhp 31
SpMax7_Bhp 34
SpMax8_Bhp 34
SpMin1_Bhp 31
SpMin2_Bhp 31
SpMin3_Bhp 31
SpMin4_Bhp 31
SpMin5_Bhp 31
SpMin6_Bhp 31
SpMin7_Bhp 34
SpMin8_Bhp 34
SpMax1_Bhi 31
SpMax2_Bhi 31
SpMax3_Bhi 31
SpMax4_Bhi 31
SpMax5_Bhi 31
SpMax6_Bhi 31
SpMax7_Bhi 34
SpMax8_Bhi 34
SpMin1_Bhi 31
SpMin2_Bhi 31
SpMin3_Bhi 31
SpMin4_Bhi 31
SpMin5_Bhi 31
SpMin6_Bhi 31
SpMin7_Bhi 34
SpMin8_Bhi 34
SpMax1_Bhs 31
SpMax2_Bhs 31
SpMax3_Bhs 31
SpMax4_Bhs 31
SpMax5_Bhs 31
SpMax6_Bhs 31
SpMax7_Bhs 34
SpMax8_Bhs 34
SpMin1_Bhs 31
SpMin2_Bhs 31
SpMin3_Bhs 31
SpMin4_Bhs 31
SpMin5_Bhs 31
SpMin6_Bhs 31
SpMin7_Bhs 34
SpMin8_Bhs 34
HybRatio 31
Kier3 12
topoShape 31

In [110]:
# getting `logkpl` & `Texpi` from original df
texpi_logkpl = original_df[['logkpl', 'Texpi']]
texpi_logkpl.isna().sum()

logkpl    0
Texpi     0
dtype: int64

In [111]:
# making the trial 1 file 
trial_1_df = pd.concat([texpi_logkpl, clean_output_df], axis=1)
trial_1_df.reset_index(drop=True, inplace=True)
trial_1_df.shape

(481, 17538)

In [112]:
trial_1_df.isna().sum().sum()

0

In [93]:
# saving trial 1 file
trial_1_df.to_csv('../../data/processed/trial1.csv', index=False)

In [15]:
# starting from index 401 - 431 (432 exlcuded) removing water compounds
index_to_drop = [i for i in range(401, 432)]

In [16]:
tries = output_df.drop(index_to_drop, axis=0)
texpi_logkpl_trial_2 = texpi_logkpl.drop(index_to_drop, axis=0)

In [17]:
for col in tries.columns:
    if tries[col].isna().sum() > 0:
        print(col, tries[col].isna().sum())
        tries[col] = tries[col].fillna(tries[col].mean())

SpMax7_Bhm 3
SpMax8_Bhm 3
SpMin7_Bhm 3
SpMin8_Bhm 3
SpMax7_Bhv 3
SpMax8_Bhv 3
SpMin7_Bhv 3
SpMin8_Bhv 3
SpMax7_Bhe 3
SpMax8_Bhe 3
SpMin7_Bhe 3
SpMin8_Bhe 3
SpMax7_Bhp 3
SpMax8_Bhp 3
SpMin7_Bhp 3
SpMin8_Bhp 3
SpMax7_Bhi 3
SpMax8_Bhi 3
SpMin7_Bhi 3
SpMin8_Bhi 3
SpMax7_Bhs 3
SpMax8_Bhs 3
SpMin7_Bhs 3
SpMin8_Bhs 3
Kier3 12

In [18]:
tries.shape

(450, 17537)

In [19]:
# drop name column
tries.drop('Name', axis=1, inplace=True)

In [20]:
# making the trial 2 file 
trial_2_df = pd.concat([texpi_logkpl_trial_2, tries], axis=1)
trial_2_df.reset_index(drop=True, inplace=True)
trial_2_df.shape

(450, 17538)

In [21]:
trial_2_df.isna().sum().sum()

0

In [22]:
# saving trial 2 file
trial_2_df.to_csv('../../data/processed/trial2.csv', index=False)